@use '../abstracts/variables';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    background-color: variables.$color-fondo;
    text-transform: uppercase;
    color:  #0070bb;
}
main p {
    text-align: center;
}