*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    background-color: #e5e2d6 ;
    text-transform: uppercase;
    color:  #292f33;
}
main p {
    text-align: center;
}